:root {
    --primary-color: #08A6E4;
    --black: #000000;
    --white: #ffffff;
    --red: #FB3B64;
    --grey: #A5A5A5;
    --green: #55DFB4;
    --border-color: #00000029;
}

.intro {

}

.header {
}

.header .header__inner {
}

.logo {
}

.logo .logo__img {
}

.logo .logo__text {
}

.menu {
}

.menu .menu__item {
}

.main {
}

.main .main__bg {
}

.main .main__hdl {
}

.main .main__lead {
}

.main .main__row {
}

.main .main__btn {
}







